{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="card mt-5">
                <div class="card-body">
                    <h2 class="card-title">Mindful Calendar</h2>
                    <hr>
                    <p class="card-text">Welcome to our mindful calendar! Here, you'll find upcoming events, workshops, and other mindfulness-related activities.</p>
                    <div class="calendar">
                        <div class="mt-4"></div> <!-- Add space between text and calendar -->
                        <div id='calendar'></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<head>
    <meta charset='utf-8' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth'
            });

            // Parse events from CSV file and add to calendar
            fetch('/static/calendar/events.csv')
                .then(response => response.text())
                .then(csv => {
                    const events = parseCsvToEvents(csv);
                    calendar.addEventSource(events);
                });

            calendar.render();

        });

        // Function to parse CSV to events
        function parseCsvToEvents(csv) {
            const events = [];
            const rows = csv.split('\n');
            for (let i = 1; i < rows.length; i++) {
                const cols = rows[i].split(';');
                const date = cols[0].trim();
                const event = cols[1].trim();
                events.push({
                    title: event,
                    start: date
                });
            }
            return events;
        }        

    </script>
</head>
{% endblock %}
