{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <h2>Guided Meditation Videos</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="embed-responsive embed-responsive-16by9">
                    <!-- Replace the video URL with your actual guided meditation video URL -->
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/watch?v=RMfqUVZtUsE&list=PLTWYNRD88AqHTbnfU-U_kqBMaDkd_ByPj&index=6" allowfullscreen></iframe>
                </div>
                <h4>Guided Meditation Title 1</h4>
                <p>Description of the guided meditation video goes here...</p>
            </div>
            <div class="col-md-6">
                <div class="embed-responsive embed-responsive-16by9">
                    <!-- Replace the video URL with your actual guided meditation video URL -->
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/watch?v=GIYNHYg2l5c&list=PLTWYNRD88AqHTbnfU-U_kqBMaDkd_ByPj&index=1" allowfullscreen></iframe>
                </div>
                <h4>Guided Meditation Title 2</h4>
                <p>Description of the guided meditation video goes here...</p>
            </div>
        </div>
    </div>
{% endblock %}
